[flake8]
ignore = E731, E226, E203, W503
max-line-length = 120
# Damien: I want to set max-line-length to 88, as recommended by black
# but black isn't reformatting comments, or seemingly even strings, to
# keep them within this length.
