---
extends: default

rules:
  # Property-indent errors are very noisy as tools all make different choices.
  # Until a good yaml auto-indenter appears, we'll relax this rule.
  indentation: disable
  comments: disable
  comments-indentation: disable

  # URLs and base64 strings break this a lot, and multi-line URLs aren't
  # clearer. Not worth it.
  line-length: disable

  # Github Actions config uses the word 'on', but not as a truthy-value.
  truthy:
    ignore: |
      .github/workflows/*.yml
