# pre-install misc dependencies for faster docker rebuilds
--extra-index-url https://packages.dea.ga.gov.au/
datacube[performance,s3]==1.8.3
hdstats
lmdb
zstandard
thredds-crawler
dataclasses
aiobotocore[awscli,boto3]
thredds-crawler
wget
requests
deepdiff
dask-image
scikit-image
# Pinned for Alex to index STAC
sat-search==0.3.0
# Test dependencies
pytest
mock
moto
