# After installing this you can install all of odc-tools without pulling in new
# dependencies and also run tests
#

deepdiff
moto
mock
docker
pip-tools
rio-cogeo

datacube[dev]
hdstats

affine
aiobotocore[boto3,awscli]
aiohttp
azure-storage-blob
#boto3
#botocore
click
dask[complete]
dask-image
distributed
google-cloud-storage
ipyleaflet
ipywidgets
jinja2
jupyter-ui-poll
lmdb
numexpr
numpy
pyproj
pystac
pyyaml
rasterio
requests
sat-search
scikit-image
thredds-crawler
toolz
tqdm
xarray
zstandard

wheel
setuptools
pip
