# This file is used to download all dependencies
#
# Majority of dependencies will be pulled in via `-e /code/...`, but some
# extras are needed:
#  - test dependencies that are not listed as direct dependencies
#  - libraries that need extra features enabled (dask[complete], datacube[dev])
#  - optional dependencies that are needed to run tests more fully (hdstats)
#  - libraries that we need to constrain versions for to help pip resolutions
#

# things needed for tests that might not be referenced in setup.py
deepdiff
moto
mock
docker
pytest-depends
pip-tools

# needed to bootstrap environment without network index
wheel
setuptools
pip

datacube[dev]==1.8.6

# need to constrain this one for pip-sake
# Fixing this allows pip resolution without constraints.txt
aiobotocore[boto3,awscli]==1.4.2

# Make sure dask has all the features enabled
dask[complete]

# not needed for python 3.8 and up, and are not installed,
# but `pip check` doesn't know better
dataclasses

# other top level dependencies of odc. libraries/apps
affine
aiohttp
azure-storage-blob
click
dask_image
deepdiff
fsspec
google-cloud-storage
hdstats>=0.1.7.post5
ipyleaflet
ipywidgets
jinja2
jupyter_ui_poll
numexpr
numpy
pyproj
pystac-client>=0.2.0
pystac>=1.0.0
pytest
pytest-depends
pyyaml
rasterio
requests
rio-stac>=0.3.1
scikit-image
thredds_crawler
toolz
tqdm
xarray