# This file is used to download all dependencies
#
# Majority of dependencies will be pulled in via `-e /code/...`, but some
# extras are needed:
#  - test dependencies that are not listed as direct dependencies
#  - libraries that need extra features enabled (dask[complete], datacube[dev])
#  - optional dependencies that are needed to run tests more fully (hdstats)
#  - libraries that we need to constrain versions for to help pip resolutions
#


# other top level dependencies of odc. libraries/apps
affine

aiohttp
awscli
azure-storage-blob
boto3
bottleneck>=1.3.5
click

# Make sure dask has all the features enabled
dask[complete]
dask_image

datacube[dev]>=1.8.13,!=1.8.14
datadog
# things needed for tests that might not be referenced in setup.py
deepdiff
docker
eodatasets3
fsspec
google-cloud-storage
hdstats>=0.1.7.post5
ipyleaflet
ipywidgets
jinja2
jupyter_ui_poll
numexpr
numpy>=1.23.0
pip-tools
pyproj
pystac>=1.0.0
pystac-client>=0.2.0
pytest
pyyaml
rasterio>=1.3.2
requests
rio-stac>=0.3.1
scikit-image
thredds_crawler
toolz
tqdm
urlpath
xarray==2022.3.0


# Moto and Flask
# Not using moto[server] because that causes json-schema conflicts
moto>=4
flask
flask-cors
