--extra-index-url https://packages.dea.ga.gov.au/
datacube[performance,s3]==1.8.3
aiobotocore[boto3,awscli]==1.1.1
tqdm==4.48.2
wget
requests
odc-aws
odc-aio
odc-stats
odc-apps-cloud
git+https://github.com/opendatacube/datacube-index.git
odc-index
# Pinned for Alex to index STAC
sat-search==0.3.0
# test requirements, needed until testing is done separately
pytest