name : Run integration tests on dc_tools

on:
  push:

jobs:
  test-dc-tools:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Run Dockerized Tests
      timeout-minutes: 20
      shell: bash
      env:
        AWS_ACCESS_KEY_ID : ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY : ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        cd tests
        docker-compose build
        docker-compose up -d
        docker-compose exec -T tools-tester run_tests.sh
